@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    padding: 0 16px;
    color: #FFFFFF;
    background-color: #060114;
}

img {
    pointer-events: none;
}

.link {
    color: #FFFFFF;
    text-decoration: none;
}

.list {
    list-style: none;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    line-height: 120%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__list {
    display: flex;
    gap: clamp(0.5rem, 2.5vw, 1rem);
}

.hero {
    margin-top: 25vh;
    margin-bottom: 50vh;
}

.hero__title {
    text-transform: uppercase;
}

.title {
    margin-bottom: clamp(16px, 3vw,32px);
}

.subtitle {
    margin-bottom: 16px;
}

.section {
    margin-bottom: clamp(32px, 4vw,64px);
}

.images > img {
    width: 100%;
    border-radius: 8px;
}

.illustrations {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    gap: 16px;
}
.illustrations > img:first-child {
    grid-column: span 2;
}
.illustrations > img:nth-child(2) {
    grid-column: span 2;
}

.characters > img:not(:last-child) {
    margin-bottom: clamp(8px, 1vw, 24px);
}

.brandbooks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(8px, 1vw,16px);
}

.design {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(8px, 1vw,16px);
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    h1 {
        font-size: 128px;
    }
    h2 {
        font-size: 48px;
    }
    h3 {
        font-size: 32px;
    }
    h4 {
        font-size: 24px;
    }
    .header {
        padding: 32px 0;
    }
}
@media (min-width: 640px) and (max-width: 1279px) {
    .container {
        max-width: 567px;
        margin: 0 auto;
    }

    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
    .header {
        padding: 16px 0;
    }
}
@media (max-width: 639px) {
    .container {
        max-width: 360px;
        margin: 0 auto;
    }
    h1 {
        font-size: 64px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        font-size: 14px;
    }
    .header {
        padding: 8px 0;
    }
}